<!--banner-->
<div class="banner-top col-md-4">
	<div class="container">
		<h2 class="animated wow">Login</h2>
		<div class="clearfix"></div>
	</div>
</div>
<!-- contact -->
<div class="login">
  <br><br><br><br>
  <div class="container col-md-8">
  <form id="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <div class="col-lg-9 col-md-10 col-xs-8 login-do1 animated wow">
      <div class="login-mail list-inline">
        <i class="glyphicon glyphicon-envelope"></i>
        <input type="text" id="username" name="username" required
        ngModel #username="ngModel" placeholder="Email">
      </div>
      <div class="login-mail list-inline">

          <i class="glyphicon glyphicon-lock"></i>
        <input type="password" id="password" name="password" required
        ngModel #password="ngModel" placeholder="Password">
      </div>
         <a class="news-letter " [routerLink]="[ './../recovery' ]">
           <i class="glyphicon glyphicon-send"> Forgot Password</i>
           </a>
           <label class="hvr-sweep-to-top login-sub login-do animated wow ">
            <input type="submit" value="login">
           </label>
           <p>Do not have an account?</p>
           <label class="hvr-sweep-to-top login-do animated wow ">
            <a [routerLink]="[ './../register' ]" class="hvr-sweep-to-top" onClick="window.location.reload()">Signup</a>
           </label><br><br>

    </div>

    <div class="clearfix"> </div>
    </form>

</div>
</div>

<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->

