<!--banner-->
<div class="banner-top">
    <div class="container">
      <h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Login</h2>
      <h3 class="animated wow fadeInRight" data-wow-delay=".5s"><a href="index.html">Home</a><label>/</label>Login</h3>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- contact -->
  <div class="login">
    <div class="container">
    <form id="login-form"  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <div class="col-md-6 login-do1 animated wow fadeInLeft" data-wow-delay=".5s">
        <div class="login-mail list-inline">
          <input type="text" id="username" name="username" required
          ngModel #username="ngModel" placeholder="Email">
          <i class="glyphicon glyphicon-envelope"></i>
        </div>



      </div>
      <div class="col-md-6 login-do animated wow fadeInRight" data-wow-delay=".5s">

          <label class="hvr-sweep-to-top login-sub">
              <input type="submit" value="Enviar">
              </label>
              <p>Do not have an account?</p>
            <a [routerLink]="[ './../login' ]" class="hvr-sweep-to-top">Login</a>
      </div>

      <div class="clearfix"> </div>
      </form>

  </div>
  </div>

  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->
  <!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;margin-left:50%;">
          <app-loader></app-loader>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Fin Loader Modal -->
