
<!-- //header --><!--banner-->
<div class="banner-top">
    <div class="container">
      <h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Register</h2>
      <h3 class="animated wow fadeInRight" data-wow-delay=".5s"><a href="index.html">Home</a><label>/</label>Register</h3>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- contact -->
    <div class="login">
      <div class="container">
      <form id="register-form"  #registerForm="ngForm" (ngSubmit)="insert(registerForm.value)">
        <div class="col-md-6 login-do1 animated wow fadeInLeft" data-wow-delay=".5s">
          <div class="login-mail list-inline">
            <input type="text"  id="nombre" name="nombre" required
              ngModel #nombre="ngModel" placeholder="Nombre">
            <i class="glyphicon glyphicon-user"></i>
          </div>
          <div class="login-mail list-inline">
            <input type="text"  id="apellido" name="apellido" required
              ngModel #apellido="ngModel" placeholder="Apellido">
            <i class="glyphicon glyphicon-info-sign"></i>
          </div>
          <div class="login-mail list-inline">
            <input type="text"  id="direccion" name="direccion" required
              ngModel #direccion="ngModel" placeholder="Direccion">
            <i class="glyphicon glyphicon-info-sign"></i>
          </div>
          <div class="login-mail list-inline">
            <input type="text"  id="telefono" name="telefono" required
              ngModel #telefono="ngModel" placeholder="Telefono">
            <i class="glyphicon glyphicon-info-sign"></i>
          </div>
          <div class="login-mail list-inline">
            <input type="email"  id="email" name="email" required
              ngModel #email="ngModel" placeholder="Email">
            <i class="glyphicon glyphicon-envelope"></i>
          </div>
          <a class="news-letter" href="#">
            <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>I agree with the terms</label>
          </a>

        </div>
        <div class="col-md-6 login-do animated wow fadeInRight" data-wow-delay=".5s">
          <label class="hvr-sweep-to-top login-sub">
            <input type="submit" value="Submit">
            </label>
            <p>Already register</p>
          <a [routerLink]="[ './../login' ]" class="hvr-sweep-to-top">Login</a>
        </div>
        <div class="clearfix"> </div>
        </form>
      </div>


    </div>



  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->
  <!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;margin-left:50%;">
          <app-loader></app-loader>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Fin Loader Modal -->
