<div *ngIf="numero" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-md-offset-6 text-right">
  <h3>Numero de Tracking: {{numero}}</h3>
</div>
<div *ngIf="numero" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 text-left" style="z-index: 3;">
  <h1>Tu compra ha sido exitosa</h1>
</div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2">
    <table class="table table-striped table-hover" [mfData]="agregados" #mf="mfDataTable" [mfRowsOnPage]="5">
      <div class="contaner" *ngFor = "let data of mf.data | filter:search">
        <div class="panel panel-default">
          <div class="panel panel-heading">
            <h3>Producto {{data.id}}</h3>
          </div>
          <div class="panel panel-body">
              <div class="col-sm-6 col-md-3">
                  <p class="thumbnail">
                    <img src="https://www.canidev.com/download/file.php?avatar=223_1410158412.gif" alt="...">
                  </p>
              </div>
              <p>{{data.id}}</p>
              <p>{{data.productos.descripcion}}</p>
              <p>Id del Producto: {{data.productos.marcaDes}}</p>
              <p>Precio Venta: {{data.precioVenta}}</p>
              <p></p>
          </div>
        </div>
      </div>
      <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator ></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
  </div>


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-md-offset-6">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left titulo">
      El Total Es:
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
       ${{sumas}}
      </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left titulo">
      Articulos Totales
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
      ({{agregados.length}})
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left titulo">
      Fecha Actual:
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
       {{fechaHoy}}
      </div>
  </div>
</div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2" style="margin-bottom:3%;">
    <div class="container col-md-4 col-xs-12">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#direccion">Direccion</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="input-group" style="padding-left:5%" *ngFor="let forma of clientes; let idx = index">
            <input class="option-input radio" type="radio" name="direcciones" (change)="onSelectionChange(forma,true)" [checked]="(idx === 0)" [value]="forma.id">
            <label for="direcciones">{{forma.direccion}}</label>
            <br>
          </div>

        </div>
      </div>
      <br>
      <br>
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#pagos">Pagos</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="pagos" class="tab-pane fade in active">
            <br>
            <div class="input-group" style="padding-left:5%" *ngFor="let forma of formas; let idx = index">
              <input class="option-input radio" type="radio" name="formaPago" (change)="onSelectionChange(forma,false)" [checked]="(idx === 0)" [value]="forma.id">
              <label for="formaPago">{{forma.titulo}}</label>
              <br>
            </div>
          </div>
        </div>
      </div><br>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right" style="padding-right:10%;z-index: 3;">
          <button class="btn confirmar"  style="background: #01CFCF; color: white" (click) = "PagarProductosCarrito()">Confirmar Pago</button>
      </div>
    </div>
