.subtotal{
  background: gray;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}
.confirmar{
  align-content: center;
}
.option-input.radio {
border-radius: 50%;
}

.option-input.radio::after {
border-radius: 50%;
}

.option-input:checked::after {
-webkit-animation: click-wave 0.65s;
-moz-animation: click-wave 0.65s;
animation: click-wave 0.65s;
background: #40e0d0;
content: '';
display: block;
position: relative;
z-index: 100;
}

@keyframes click-wave {
0% {
  height: 40px;
  width: 40px;
  opacity: 0.35;
  position: relative;
}
100% {
  height: 200px;
  width: 200px;
  margin-left: -80px;
  margin-top: -80px;
  opacity: 0;
}
}

.option-input {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
position: relative;
top: 13.33333px;
right: 0;
bottom: 0;
left: 0;
height: 40px;
width: 40px;
transition: all 0.15s ease-out 0s;
background: #cbd1d8;
border: none;
color: #fff;
cursor: pointer;
display: inline-block;
margin-right: 0.5rem;
outline: none;
position: relative;
z-index: 1000;
}

.option-input:hover {
background: #9faab7;
}

.option-input:checked {
background: #40e0d0;
}

.option-input:checked::before {
height: 40px;
width: 40px;
position: absolute;
content: '✔';
display: inline-block;
font-size: 26.66667px;
text-align: center;
line-height: 40px;
}

.subspan {
text-align: end;
}
.titulo{
font-size: 1rem;
font-style: oblique;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
