
<!--banner-->
<div class="banner-top">
	<div class="container">
		<h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Carrito</h2>
		<h3 class="animated wow fadeInRight" data-wow-delay=".5s"><a [routerLink]="[ './../inicio' ]">Home</a><label>/</label>Carrito</h3>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="container" style="margin-top:1%;">
    <table class="table animated wow fadeInLeft" data-wow-delay=".5s" [mfData]="agregados" #mf="mfDataTable" [mfRowsOnPage]="5">
        <tr>
        <th class="t-head head-it ">Item</th>
        <th class="t-head">Price</th>
        <th class="t-head">Quantity</th>
        <th class="t-head">Total</th>
        </tr>
        <tr class="cross" *ngFor = "let data of mf.data | filter:search">
        <td class="ring-in t-data">
          <a href="single.html" class="at-in">
            <img src="{{data.picture?data.picture:'https://www.canidev.com/download/file.php?avatar=223_1410158412.gif'}}" class="img-responsive" alt="">
          </a>
        <div class="sed">
          <h5>{{data.productos.descripcion}}</h5>
        </div>
          <div class="clearfix" (click)="remover(data)"> </div>
          <div class="close1" (click)="remover(data)"> </div>
         </td>
        <td class="t-data">$100.00</td>
        <td class="t-data"><div class="quantity">
                  <div class="quantity-select">
                      <div class="entry value"><span class="span-1">1</span></div>
                  </div>
                </div>

        </td>
        <td class="t-data">$100.00</td>

        </tr>

    </table>
          <div class=" cart-total">

         <h5 class="continue" >Cart Total</h5>
         <div class="price-details">
           <h3>Price Details</h3>
           <span>Total</span>
           <span class="total1">{{agregados.length}}</span>
           <span>Discount</span>
           <span class="total1">---</span>
           <span>Delivery Charges</span>
           <span class="total1">150.00</span>
           <div class="clearfix"></div>
         </div>
         <ul class="total_price">
           <li class="last_price"> <h4>TOTAL</h4></li>
           <li class="last_price"><span>6350.00</span></li>
           <div class="clearfix"> </div>
         </ul>

         <a (click)="pagar()">Produced By Cart</a>

        </div>
 </div>



<div class="container cantidadarticulos">
    <h3>Cantidad Articulos ({{agregados.length}})</h3>
  </div><br>

  <!--Modal De Pago-->
  <div id="abrirLogin" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span></button>
        </div>
        <br>
        <div class="container">
        <app-loginmodal></app-loginmodal>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--Fin de La Modal-->

<!-- Inicio Loader Modal -->
<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;margin-left:50%;">
        <app-loader></app-loader>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fin Loader Modal -->


<div class="container"></div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="./../../../../src/assets/js/simpleCart.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
