<div *ngFor="let data of productosGeneral; let i = index;">
  <!--content-->
  <div class="content-top" *ngIf="(i%2)==0">
    <div class="col-md-5 col-md1 animated wow fadeInLeft" data-wow-delay=".1s">
      <div class="col-3">
        <a href="#"><img src="{{data.picture?data.picture:'./../../../assets/images/pi1.jpg'}}" class="img-responsive " alt="">
        <div class="col-pic">
          <h5> {{data.descripcion}}</h5>
          <p>At vero eos et accusamus et</p>
        </div></a>
      </div>

  </div>
  <div class="col-md-7 col-md2 animated wow fadeInRight" data-wow-delay=".1s" *ngIf="(i%2)==0">
    <div class="col-sm-4 item-grid simpleCart_shelfItem" *ngFor="let productos of data.productos">
      <div class="grid-pro">
        <div  class=" grid-product " >
          <figure>
            <a [routerLink] = "['./../producto/detalleproducto/', productos.id]">
              <div class="grid-img">
                <img  src="{{productos.picture?productos.picture:'https://png.icons8.com/metro/1600/product.png'}}" class="img-responsive" alt="">
              </div>
              <div class="grid-img">
                <img  src="{{productos.picture?productos.picture:'https://png.icons8.com/metro/1600/product.png'}}" class="img-responsive"  alt="">
              </div>
            </a>
          </figure>
        </div>
        <div class="women">
          <a ><img src="./../../../assets/images/ll.png" alt=""></a>
          <h6><a [routerLink] = "['./../producto/detalleproducto/', productos.id]">{{productos.nombre}}</a></h6>
          <p ><em class="item_price">${{productos.inventario.precioVenta}}</em></p>
          <a (click)="agregado(productos)" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--- -->

  <!---->
  <div class="content-top" *ngIf="(i%2)!=0">
    <div class="col-md-7 col-md2 animated wow fadeInLeft" data-wow-delay=".1s">
      <div class="col-sm-4 item-grid simpleCart_shelfItem" *ngFor="let productos of data.productos">
        <div class="grid-pro">
          <div  class=" grid-product " >
            <figure>
              <a [routerLink] = "['./../producto/detalleproducto/', productos.id]">
                <div class="grid-img">
                  <img  src="{{productos.picture?productos.picture:'https://png.icons8.com/metro/1600/product.png'}}" class="img-responsive" alt="">
                </div>
                <div class="grid-img">
                  <img  src="{{productos.picture?productos.picture:'https://png.icons8.com/metro/1600/product.png'}}" class="img-responsive"  alt="">
                </div>
              </a>
            </figure>
          </div>
          <div class="women">
            <a [routerLink] = "['./../producto/detalleproducto/', productos.id]"><img src="./../../../assets/images/ll.png" alt=""></a>
            <h6><a href="#">{{productos.nombre}}</a></h6>
            <p ><em class="item_price">${{productos.inventario.precioVenta}}</em></p>
            <a (click)="agregado(productos)" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a>
          </div>
        </div>

      </div>

    <div class="clearfix"></div>
    </div>
    <div class="col-md-5 col-md1 animated wow fadeInRight" data-wow-delay=".1s">
      <div class="col-3">
        <a href="#"><img src="{{data.picture?data.picture:'./../../../assets/images/pi2.jpg'}}" class="img-responsive " alt="">
        <div class="col-pic">
          <h5> {{data.descripcion}}</h5>
          <p>At vero eos et accusamus et</p>
        </div></a>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
