

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="search-input">
        <div class="input-group col-lg-12 col-md-12">
            <input type="text" class="form-control" placeholder="Busqueda Categoria" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="table-responsive">
    <table class="table table-striped table-hover" [mfData]="categorylist" #mf="mfDataTable" [mfRowsOnPage]="1">
<div class="container col-md-4" *ngFor = "let data of mf.data | filter:search">
    <tbody>
  <div class="row">
    <p>{{data.id}}</p>
    <p>{{data.descripcion}}</p>
    <a [routerLink]="['./../producto/categoria/' , data.id]"><img class="muestra" src="https://png.pngtree.com/element_origin_min_pic/16/07/08/19577f88033af4c.jpg" alt="" width="300px"></a>
  </div>
  </tbody>
</div>
<tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator ></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table></div></div>

<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;margin-left:50%;">
        <app-loader></app-loader>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fin Loader Modal -->
