/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}

.loader  div  .loader1 {
  background-color: #FF7000 !important;
  width: 100px;
  height: 100px;
}
.text-right{
  text-align: right !important;
}
.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
