<!-- header -->
<div class="header">
  <div class="header-grid">
      <div class="container">
    <div class="header-left animated wow fadeInLeft" data-wow-delay=".5s">
      <ul>
      <li><i class="glyphicon glyphicon-headphones"></i><a href="#">24x7 live support</a></li>
        <li><i class="glyphicon glyphicon-envelope" ></i><a href="mailto:info@example.com">toktok@example.com</a></li>
        <li><i class="glyphicon glyphicon-earphone" ></i>+1234 567 892</li>
      </ul>
    </div>
    <div class="header-right animated wow fadeInRight" data-wow-delay=".5s">
    <div class="header-right1 " >
      <ul *ngIf="!user">
        <li><i class="glyphicon glyphicon-log-in" ></i><a [routerLink]="[ './login' ]">Login</a></li>
        <li><i class="glyphicon glyphicon-book" ></i><a  [routerLink]="[ './register' ]">Register</a></li>
      </ul>
      <ul *ngIf="user">
        <li><i class="glyphicon glyphicon-user" ></i></li>
        <li><i class="glyphicon glyphicon-log-out" ></i><a (click)="logout()" style="cursor:pointer;">Cerrar Sesion</a></li>
      </ul>
    </div>

    <div class="header-right2">
      <div class="cart box_1">
        <a [routerLink] = "['./carrito']">
          <h3 class="text-right">
            <div class="total">
              <ul class="glyphicon glyphicon-shopping-cart">{{agregados.length}}</ul>
            </div>
          </h3>

        </a>
        <p><a (click)="emptyCArt()" style="cursor:pointer;" class="simpleCart_empty">Empty Cart</a></p>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  </div>
  <div class="container">
  <div class="logo-nav">

      <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <div class="navbar-brand logo-nav-left ">
          <h1 class="animated wow pulse" data-wow-delay=".5s"><a [routerLink]="[ './../home/inicio' ]">Tok<span>Tok</span></a></h1>
        </div>

      </div>


      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a  [routerLink]="['./inicio']" routerLinkActive="act">Home</a></li>
          <li routerLinkActive="active"><a [routerLink]="['./producto']" routerLinkActive="act">Productos</a></li>
          <li *ngFor="let data of categorias" routerLinkActive="active"><a [routerLink]="['./producto/categoria/' , data.id]" routerLinkActive="act">{{data.descripcion}}</a></li>
          <li routerLinkActive="active"><a [routerLink]="['./contacto']" routerLinkActive="act">Contact Us</a></li>
        </ul>
      </div>
      </nav>
    </div>

</div>
</div>
<!-- //header -->

  <router-outlet></router-outlet>


				<!--products-->
        <div class="social animated wow fadeInDown" data-wow-delay=".1s">
          <div class="container">
            <div class="col-sm-3 social-ic">
              <a href="#">FACEBOOK</a>
            </div>
            <div class="col-sm-3 social-ic">
              <a href="#">TWITTER</a>
            </div>
            <div class="col-sm-3 social-ic">
              <a href="#">GOOGLE+</a>
            </div>
            <div class="col-sm-3 social-ic">
              <a href="#">PINTEREST</a>
            </div>
          <div class="clearfix"></div>
          </div>
        </div>

        <!-- footer -->
          <div class="footer">
            <div class="container">
            <div class="footer-top">
            <div class="col-md-9 footer-top1">
            <h4>Duis aute irure dolor in reprehenderit in voluptate </h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.Excepteur sint occaecat cupidatat
                    non proident Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
            </div>
            <div class="col-md-3 footer-top2">
            <a href="contact.html">Contact Us</a>
            </div>
            <div class="clearfix"> </div>
            </div>
              <div class="footer-grids">
                <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".5s">
                  <h3>About Us</h3>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit.</span></p>
                </div>
                <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".6s">
                  <h3>Contact Info</h3>
                  <ul>
                    <li><i class="glyphicon glyphicon-map-marker" ></i>1234k Avenue, 4th block, <span>New York City.</span></li>
                    <li class="foot-mid"><i class="glyphicon glyphicon-envelope" ></i><a href="mailto:info@example.com">info@example.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" ></i>+1234 567 567</li>
                  </ul>
                </div>
                <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".7s">
                <h3>Sign up for newsletter </h3>
                <form>
                  <input type="text" placeholder="Email"  required="">
                  <input type="submit" value="Submit">
                </form>

                </div>

                <div class="clearfix"> </div>
              </div>

              <div class="copy-right animated wow fadeInUp" data-wow-delay=".5s">
                <p>&copy 2016 Classic Style. All rights reserved .</p>
              </div>
            </div>
          </div>
        <!-- //footer -->



        <div class="modal modal-default fade" id="passwordModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Cambio de Contraseña</h4>
                </div>
                <div class="modal-body">
                  <form id="pass-form"  #passForm="ngForm" (ngSubmit)="updatePass(passForm.value)">
                    <div class="form-group">
                      <label for="old_pass">Contraseña Actual</label>
                      <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="password" class="form-control" id="old_pass" name="old_pass" required
                                ngModel #old_pass="ngModel" placeholder="Contraseña Actual">
                      </div>
                        <div *ngIf="old_pass.invalid && (old_pass.dirty || old_pass.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="old_pass.errors.required">
                                El Contraseña Actual es invalido
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="new_pass">Nueva Contraseña</label>
                      <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="password" class="form-control" id="new_pass" name="new_pass" required
                                ngModel #new_pass="ngModel" placeholder="Nueva Contraseña">
                      </div>
                        <div *ngIf="new_pass.invalid && (new_pass.dirty || new_pass.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="new_pass.errors.required">
                                El Nueva Contraseña es invalido
                            </small>
                        </div>
                    </div>
                    <div class="form-group ">
                      <label for="new_pass_rep">Repita Nueva Contraseña</label>
                      <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="password" class="form-control" id="new_pass_rep" name="new_pass_rep" required
                                ngModel #new_pass_rep="ngModel" placeholder="Repita Nueva Contraseña">
                      </div>
                          <div *ngIf="new_pass_rep.value != new_pass.value"
                              class="alert alert-danger" role="alert">
                            <small>
                                Las contraseñas deben ser Iguales
                            </small>
                          </div>
                    </div>
                  </form>

                </div>
                <div class="text-right modal-footer" style="margin-bottom: 15px;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                        <button type="button" (click)="updatePass(passForm.value)" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->
  <!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;margin-left:50%;">
          <app-loader></app-loader>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- Fin Loader Modal -->
