<!--banner-->
<div class="banner-top">
	<div class="container">
		<h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Categorys</h2>
		<h3 class="animated wow fadeInRight" data-wow-delay=".5s"><a [routerLink]="[ './../inicio' ]">Home</a><label>/</label>Products<label>/</label></h3>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="container busqueda" style="margin-top:1%;">
  <div class="row">
    <div class="">
      <div class="search-input">
          <div class="input-group col-md-12 col-lg-12 col-xs-12">
            <input type="text" class="form-control" placeholder="Busqueda Producto" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
          </div>
      </div>
    </div>
  </div>
</div>
<br>

<!--content-->
<div class="product">
<div class="container">
      <div class="col-md-3 product-bottom">
<!--categories-->
<div class="categories animated wow fadeInUp animated" data-wow-delay=".5s" >
    <h3>Categories</h3>
    <ul class="cate">
      <li *ngFor="let data of combo" style="color:black;"><i class="glyphicon glyphicon-menu-right" ></i><a [class.hover1]="data.id==Idn" style="cursor:pointer" (click)="cargarAll(data.id)" >{{data.descripcion}}</a></li>
    </ul>
  </div>
<!--//menu-->
<!--price-->
  <div class="price animated wow fadeInUp animated" data-wow-delay=".5s" >
    <h3>Price Range</h3>
    <div class="price-head">
    <div class="col-md-6 price-head1">
                                  <div class="price-top1">
                                      <span class="price-top">$</span>
                                      <input type="text"  value="0">
                                  </div>
                              </div>
            <div class="col-md-6 price-head2">
                                  <div class="price-top1">
                                      <span class="price-top">$</span>
                                      <input type="text"  value="500">
                                  </div>
                              </div>
            <div class="clearfix"></div>
                              </div>
                              </div>
<!--//price-->
<!--colors-->
<div class="colors animated wow fadeInLeft animated" data-wow-delay=".5s" >
    <h3>Colors</h3>

                                  <div class="color-top">
                                      <ul>
                  <li><a href="#"><i></i></a></li>
                  <li><a href="#"><i class="color1"></i></a></li>
                  <li><a href="#"><i class="color2"></i></a></li>
                  <li><a href="#"><i class="color3"></i></a></li>
                  <li><a href="#"><i class="color4"></i></a></li>
                  <li><a href="#"><i class="color5"></i></a></li>
                  <li><a href="#"><i class="color6"></i></a></li>
                  <li><a href="#"><i class="color7"></i></a></li>
                </ul>
                                  </div>
                              </div>


<!--//colors-->

  <!---->
</div>
<div class="mid-popular">
<div class="col-sm-9 item-grid item-gr">
    <table class="table table-striped table-hover" [mfData]="productslist" #mf="mfDataTable" [mfRowsOnPage]="15">

      <div class="col-sm-4 item-grid item-gr" *ngFor = "let producto of mf.data | filter : search; let i = index;">
        <div class="grid-pro">
          <div  class=" grid-product " >
            <figure>
              <a [routerLink] = "['./../producto/detalleproducto/', producto.producto]">
                <div class="grid-img">
                  <img  src="{{producto.productos.picture?producto.productos.picture:'https://png.icons8.com/metro/1600/product.png'}}" class="img-responsive" alt="">
                </div>
                <div class="grid-img">
                  <img  src="{{producto.productos.picture?producto.productos.picture:'https://png.icons8.com/metro/1600/product.png'}}" class="img-responsive"  alt="">
                </div>
              </a>
            </figure>
          </div>
          <div class="women">
            <a href="#"><img src="./../../../assets/images/ll.png" alt=""></a>
            <h6><a [routerLink] = "['./../producto/detalleproducto/', producto.producto]">{{producto.productos.nombre}}</a></h6>
            <p ><em class="item_price">${{producto.precioVenta}}</em></p>
            <a (click)="agregado(producto)" data-text="Add To Cart" class="but-hover1">Add To Cart</a>
          </div>
        </div>
      </div>

      <tfoot>
        <tr><td colspan="4"><mfBootstrapPaginator></mfBootstrapPaginator></td></tr>
      </tfoot>
    </table>
        </div>
        </div>

  <div class="container">
  </div>
  <div class="clearfix"></div>
</div>
</div>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--Link de bootstrap y jquery
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->


  <!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
<div class="modal fade" id="Loading">
<div class="modal-dialog">
  <div class="text-center" style="margin-top:50%;margin-left:50%;">
      <app-loader></app-loader>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fin Loader Modal -->
