.carousel-control.left{
  background-image: linear-gradient(to right, rgba(252, 248, 248, 0.651) 0%, rgba(0, 0, 0, .0001) 100%);
  opacity:0.1;
  color: black;
}
.carousel-control.right{
  background-image: linear-gradient(to right, rgba(252, 248, 248, 0.651) 0%, rgba(0, 0, 0, .0001) 100%);
  opacity:0.1;
  color: black;
}
.team-content {
  padding: 0px 15px 15px 15px;
}
.border-team {
  border-bottom:1px solid #e2e2e2;
  margin-bottom:10px;
}
.team-img:hover {
  background:#f5f5f5;

}
.hover1{
  color:#01CFCF !important;
}
/* Social Icons */

.social-icons{

  margin: 0;
  padding: 0;
  font-size : 10px;
}
.social {
  margin:7px 7px 7px 0px;
  color:#232323;
}


#social-fb:hover {
   color: #3B5998;
   transition:all .25s;
}
#social-tw:hover {
   color: #4099FF;
   transition:all .25s;
}
#social-gp:hover {
   color: #d34836;
   transition:all .25s;
}
#social-em:hover {
   color: #f39c12;
   transition:all .25s;
}


/* Site Heading */
.site-heading h3{
  font-size : 40px;
  margin-bottom: 15px;
  font-weight: 600;
}
.border {
  background: #e1e1e1;
  height: 1px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}
